### Импорт библиотек

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Создание соединения с БД

In [2]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

### Загрузка данных из БД

In [3]:
query = 'SELECT * FROM dash_visits'

dash_visits = pd.io.sql.read_sql(query, con = engine, index_col='record_id')

dash_visits.head(5)

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27

### Сохранение данных в CSV-файл

In [4]:
dash_visits.to_csv('dash_visits.csv')